.personaje{
    border: 2px solid black;
    margin: 10px 5px 5px 5px;
    padding: 4px;
    width: 300px;
    align-content: center;
}

.personaje img{
    width: 100%;
}

.vivo{
    border-color: lightgreen;
}

.muerto{
    border-color: tomato;
}