<!-- Utilizando [ngClass] de atributos agrega y elimina una clase de una etiqueda -->
<!-- <app-semaforo></app-semaforo> -->

<!-- use de la directiva ngStyle de atributo -->

<!-- <div>
  <p [ngStyle]="propiedadesParrafos">
    he Battle of Halmyros was fought on 15 March 1311 between the Frankish Duchy
    of Athens and the Catalan Company (seal depicted). The Catalans were
    mercenaries hired by the Byzantine emperor to combat the increasing power of
    the Turks in Anatolia. After the Byzantines murdered the Catalan leader,
    Roger de Flor, the company crossed the southern Balkans and arrived in
    southern Greece in 1309.
  </p>
<div>
  <button (click)="cambiarColor('r')">Rojo</button>
  <button (click)="cambiarColor('v')">Verde</button>
  <button (click)="cambiarColor('a')">Amarrillo</button>
  <button (click)="cambiarColor('b')">Azul</button>
</div>
<input type="range" max="200" min="0" sep="2" (input)="sizeFont($event)">
<br>
<input type="text" [(ngModel)]="propiedadesParrafos.color"/> -->

<!-- *ngif -->

<!-- <p *ngIf="mostrar; then noFalso else esFalso"></p>
<ng-template #esFalso>
  <p>Contenido dentro del ng-template</p>
</ng-template>
<ng-template #noFalso>
  <p>Contenido que es verdadero</p>
</ng-template>

<p *ngIf="mostrar">
  El contenido es verdadero
</p>
<p *ngIf="!mostrar">
  El contenido es falso
</p>


<button (click)="mostrars()">Mostrar/ ocultar</button> -->

<!-- *ngFor -->

<!-- <app-bucle></app-bucle> -->

<!-- *ngSwitch -->
<!-- <app-switch></app-switch> -->

<!-- Proyecto Tarea -->
<!-- <div class="contenedor">
  <div class="izquierda">
    <app-formulario (tareaNueva)="nuevaTarea($event)"></app-formulario>
  </div>
  <div class="derecha">
    <app-lista [arrayTarea]="arrayTareas"></app-lista>
  </div>
</div> -->

<!-- Proyecto Caja registradora -->
<h3>Caja Registradora</h3>
<div class="contenedor-r">
  <div class="izquierda-r">
    <app-lista-producto
      titulo="Comida"
      [arrayProducto]="array_Comida"
      (productoSeleccionado)="seleccionados($event)"
    ></app-lista-producto>
    <app-lista-producto
      titulo="Bebida"
      [arrayProducto]="array_Bebida"
    ></app-lista-producto>
  </div>
  <div class="derecha-r">
    <app-comanda [listaProducto]="array_seleccionado"></app-comanda>
  </div>
</div>
