.contenedor{
    display: flex;
    margin: 20px auto 0 auto;
    width: 80%;
    justify-content: center;
}

.contenedor .izquierda{
    width: 40%;
}

.contenedor .derecha{
    width: 60%;
}

.contenedor-r{
    width: 70%;
    margin: 30px auto 0px auto;
    display: flex;
}

.contenedor-r .izquierda-r{
    width: 70%;
    padding: 10px;
}

.contenedor-r .derecha-r{
    width: 30%;
    padding: 10px;
}

h3{
    text-align: center;
}