<form [formGroup]="formularioEmpleado" (ngSubmit)="onSubmit()">
    <h1>FORMULARIO EMPLEADOS</h1>
    <div class="form-group mt-2">
    <label>Nombre</label>
    <input type="text" class="form-control" formControlName="nombre" />
    <div class="error" *ngIf="formularioEmpleado.controls.nombre.errors &&
    formularioEmpleado.controls.nombre.touched">
        El campo nombre es requerido
    </div>
  </div>
  <div class="form-group mt-2">
    <label>Edad</label>
    <input type="number" class="form-control" formControlName="edad" />
    <div class="error" *ngIf="formularioEmpleado.controls.edad.errors &&
    formularioEmpleado.controls.edad.touched">
        El campo edad es requerido
    </div>
  </div>
  <div class="form-group mt-2">
    <label>Pais</label>
    <select class="form-control" formControlName="pais">
      <option value="España">España</option>
      <option value="Puerto Rico">Puerto Rico</option>
      <option value="Colombia">Colombia</option>
    </select>
    <div class="error" *ngIf="formularioEmpleado.controls.pais.errors &&
    formularioEmpleado.controls.pais.touched">
        El campo pais es requerido
    </div>
  </div>
  <div class="form-group mt-2">
    <label>Imagen</label>
    <input type="text" class="form-control" formControlName="imagen" />
    <div class="error" *ngIf="formularioEmpleado.controls.imagen.errors &&
    formularioEmpleado.controls.imagen.touched">
        El campo imagen es requerido
    </div>
</div>

  <div class="d-grid gap-2 mt-4">
    <input type="submit" value="Enviar" class="btn  btn-success"
    [disabled]="!formularioEmpleado.valid">
  </div>
</form>

<div>
    <p>dirty: {{formularioEmpleado.dirty}} </p>
    <p>valido: {{formularioEmpleado.valid}} </p>
    <p>untouched: {{formularioEmpleado.touched}} </p>
</div>
