<h1>Cabezera del titulo</h1>
<h2>Subtitulo</h2>
<div class="et-a">
  <a [routerLink]="['/informacion']" routerLinkActive="activado">Informacion</a>
  <a [routerLink]="['/acerca']" routerLinkActive="activado">acerca</a>
  <a [routerLink]="['/nosotros']" routerLinkActive="activado">nosotros</a>
</div>
<router-outlet></router-outlet>
<div class="botones">
  <button (click)="onClick('informacion')">♥ Información</button>
  <button (click)="onClick('acerca')">♠ Acerca</button>
  <button (click)="onClick('nosotros')">☺ Nosotros</button>
  <button (click)="onClick('empleado/527')">empleado</button>
</div>